# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
TnD/node_modules/
TnDserver/node_modules/

# Environment variables
TnD/.env
TnD/.env.local
TnD/.env.*.local
TnDserver/.env
TnDserver/.env.local
TnDserver/.env.*.local

# Build output
TnD/dist/
TnDserver/dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?